.DS_Store
*~
*#

# Rust
*.o
*.so
*.swp
*.dylib
*.dSYM
*.dll
*.rlib
*.dummy
*.exe

# Cargo
/target/

# LaTeX
*.aux
*.dvi
*.fdb_latexmk
*.fls
*.log
*.pdf

# Umple
umple.jar
imapcd.gv
imapuml.svg
imapuml.pdf_tex

# segimtp
config.toml
